<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Personal website of Romain Muller.">
    <title>Oprax &bull; Presentation</title>
    <link rel="stylesheet" href="static/fonts/material-icons.css">
    <link rel="stylesheet" href="static/css/fa-all.min.css">
    <link rel="stylesheet" href="static/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body id="index">
    <header id="banner" class="">
        <nav class="nav-wrapper teal">
            <div class="container">
                <a href="index.html" class="brand-logo">Oprax</a>
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% for icon, link, title in MENUITEMS %}
                    <li title="{{ title }}"><a href="{{ link }}">{{ icon }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            {% for icon, link, title in MENUITEMS %}
            <li title="{{ title }}"><a href="{{ link }}">{{ icon }}&nbsp;{{ title }}</a></li>
            {% endfor %}
        </ul>
    </header><!-- /#banner -->
    <div class="section white">
        <div class="row container">
            <h2 class="header">Who I am?</h2>
            <div class="grey-text text-darken-3 lighten-3">
                <p>I am <strong>Romain Muller</strong> or <strong>Oprax</strong> in the virtual world.
                    You can find me on <a rel="me" href="https://mamot.fr/@Oprax">Mastodon</a> !
                    I am currently studying at <a href="https://exia.cesi.fr/">eXia.Cesi</a>, an IT engineering school,
                    at Strasbourg.
                    I am interested in software development and system administration. I use tools like Docker or Ansible to develop my DevOps skills.
                    I am also interested in sciences such as physics or biology, but also in social sciences.
                    I read some books or comics about Albert Einstein or Thomas Pesquet (a French astronaut).</p>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img alt="'Witch Head' Brews Baby Stars" src="static/images/Brews%20Baby%20Stars_10592267924_o_large.jpg" data-from="https://images.nasa.gov/details-'Witch%20Head'%20Brews%20Baby%20Stars_10592267924_o.html">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">My personal experiences</h2>
            <ul class="collection">
                {% for job in JOBS %}
                <li class="collection-item avatar">
                    <i class="material-icons circle {{ job.color }}">{{ job.icon }}</i>
                    <span class="title">{{ job.title }}</span>
                    <p>{{ job.content }}</p>
                    <a href="{{ job.link }}" target="_blank" rel="noopener noreferrer" class="secondary-content"><i
                            class="material-icons">launch</i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img alt="Crab Nebula" src="static/images/PIA03606_large.jpg" data-from="https://images.nasa.gov/details-PIA03606.html">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">My projects</h2>
            <div class="row">
                {% for project in PROJECTS %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img alt="{{ project.title }}" src="{{ project.img }}">
                            <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer" class="btn-floating halfway-fab waves-effect waves-light teal">
                                <i class="material-icons">launch</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ project.title }}</span>
                            <p class="justify-align">{{ project.content }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img alt="Cat's Eye Nebula" src="static/images/GSFC_20171208_Archive_e002155_orig.jpg" data-from="https://images.nasa.gov/details-GSFC_20171208_Archive_e002155.html">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">My tools and languages that I use</h2>
            <div class="row">
                <div class="col s12 m4">
                    <h2 class="center indigo-text">
                        <i class="medium material-icons">computer</i>
                    </h2>
                    <h4 class="center">My environement</h4>
                    <div class="justify-align">
                        <p>I am used to working on a Linux machine (the distribution depends on the times, I have
                            already used <a href="https://www.debian.org/">Debian</a>, <a href="https://getfedora.org/">Fedora</a>
                            and at the moment I use <a href="https://antergos.com/">Antergos</a>).</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <h2 class="center indigo-text">
                        <i class="medium material-icons">code</i>
                    </h2>
                    <h4 class="center">Languages & Frameworks</h4>
                    <div class="justify-align">
                        <p>To make websites I use the PHP framework <a href="https://laravel.com/">Laravel</a>. I also
                            use <a href="https://vuejs.org/">vue.js</a> when necessary. Otherwise, I use a lot of <a
                                href="https://www.python.org/">Python</a> to make my scripts. For example, I created a
                            <a href="https://gitlab.com/Oprax/backup-utils">script</a> to manage more easily my
                            backups.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <h2 class="center indigo-text">
                        <i class="medium material-icons">dns</i>
                    </h2>
                    <h4 class="center">System</h4>
                    <div class="justify-align">
                        <p>From a system point of view, I use mostly <a href="https://www.debian.org/">Debian</a> with
                            <a href="https://nginx.org/">Nginx</a> as a web server and <a href="https://www.mysql.com/">MySql</a>
                            as a database. In order to properly deploy all these technologies, I use <a href="https://www.ansible.com/">Ansible</a>.
                            I keep my <a href="https://gitlab.com/Oprax/ansible-deployment">Ansible playbook</a> on GitLab.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="contentinfo" class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p>
                        <i class="material-icons tiny amber-text">code</i> with <i class="material-icons tiny red-text">favorite</i>,
                        the code source of this page is <a class="cyan-text text-accent-1" href="https://gitlab.com/Oprax/showcase">available</a>.
                    </p>
                    <p>
                        The three pictures at the background come from <a class="cyan-text text-accent-1" href="https://images.nasa.gov/">NASA</a>, the first one is the <a class="cyan-text text-accent-1" href="https://images.nasa.gov/details-'Witch%20Head'%20Brews%20Baby%20Stars_10592267924_o.html">'Witch Head' Brews Baby Stars</a>, the second one is the <a class="cyan-text text-accent-1" href="https://images.nasa.gov/details-PIA03606.html">Crab Nebula</a> and the last one is the <a class="cyan-text text-accent-1" href="https://images.nasa.gov/details-GSFC_20171208_Archive_e002155.html">Cat's Eye Nebula</a>.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        {% for icon, link, title in MENUITEMS %}
                        <li title="{{ title }}">
                            <a class="cyan-text text-accent-1" href="{{ link }}">{{ icon }}&nbsp;{{ title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col m2 s12">
                        &copy; 2019 Romain Muller
                    </div>
                    <div class="col m8">&nbsp;</div>
                    <div class="col m2 s12">
                        Generated at {{ LAST_GEN }}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.Sidenav.init(
                document.querySelectorAll('.sidenav'),
                {}
            );
            M.Parallax.init(
                document.querySelectorAll('.parallax'),
                {}
            );
        });
    </script>
</body>

</html>
